@import "../../../assets/scss/base";

.Button {
  display: block;
  width: 13rem;
  height: 100%;
  padding: $spacing-xs $spacing-sm;
  margin: 0 auto;
  margin-bottom: $spacing-lg;
  border: 1px solid $color-ligthblue;
  border-radius: $border-radius-sm;
  font-size: $font-size-default;
  font-weight: 500;
  line-height: 1.8rem;
  color: $color-ligthblue;
  background-color: transparent;
  cursor: pointer;
}
