@import "../../../assets/scss/base";

.btn {
  height: 100%;
  padding: $spacing-xs $spacing-sm;
  margin: 0 auto;
  margin-bottom: $spacing-lg;
  border-radius: $border-radius-sm;
  font-size: $font-size-default;
  font-weight: 600;
  line-height: 1.8rem;
  cursor: pointer;
}

.primary {
  background-color: $color-ligthblue;
  color: $color-white;
  &:hover {
    background-color: lighten($color: $color-ligthblue, $amount: 5);
    color: $color-white;
  }
}



