@import "../../assets/scss/vars";

.Last-novelties {
  width: 100%;
  display: flex;
<<<<<<< HEAD
  justify-content: space-evenly;
=======
  flex-direction: row;
  justify-content: space-between;
>>>>>>> 1d7464b02a2e15f03fd6052af401783dbca5cdb9
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
