@import "../../assets/scss/vars";

.Last-novelties {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: $spacing-xs;
}

.Novelties-container {
  padding-bottom: $spacing-lg;
}
